---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml2/reference.ANSI.T1-102.1987.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 29 Jul 2013 17:31:11 GMT
      Etag:
      - '"39d60ef-156-4e2a9dbc035c0"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding='UTF-8'?>

        <reference anchor="ANSI.T1-102.1987">
        <front>
        <title>Telecommunications - Digital Hierarchy - Electrical Interfaces</title>
        <author>
        <organization>American National Standards Institute</organization>
        </author>
        <date month="" year="1987" />
        </front>

        <seriesInfo name="ANSI" value="T1" />

        </reference>
  recorded_at: Thu, 29 Oct 2020 20:50:55 GMT
recorded_with: VCR 6.0.0
