---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.ietf-calext-eventpub-extensions.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 16 Oct 2020 07:00:00 GMT
      Etag:
      - '"39c297f-41f-5b1c450271c00"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='UTF-8'?>

        <reference anchor='I-D.ietf-calext-eventpub-extensions'>
        <front>
        <title>Event Publishing Extensions to iCalendar</title>

        <author initials='M' surname='Douglass' fullname='Michael Douglass'>
            <organization />
        </author>

        <date month='October' day='16' year='2020' />

        <abstract><t>This specification updates RFC5545 by introducing a number of new iCalendar properties and components which are of particular use for event publishers and in social networking.  This specification also defines a new STRUCTURED-DATA property for iCalendar RFC5545 to allow for data that is directly pertinent to an event or task to be included with the calendar data.</t></abstract>

        </front>

        <seriesInfo name='Internet-Draft' value='draft-ietf-calext-eventpub-extensions-16' />
        <format type='TXT'
                target='http://www.ietf.org/internet-drafts/draft-ietf-calext-eventpub-extensions-16.txt' />
        <format type='PDF'
                target='http://www.ietf.org/internet-drafts/draft-ietf-calext-eventpub-extensions-16.pdf' />
        </reference>
  recorded_at: Tue, 10 Nov 2020 21:59:05 GMT
recorded_with: VCR 6.0.0
