---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.-burger-xcon-mmodels.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 10 Feb 2004 08:00:00 GMT
      Etag:
      - '"39c37cc-306-3d2fae7a2e000"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='UTF-8'?>

        <reference anchor='I-D.-burger-xcon-mmodels'>
        <front>
        <title>Centralized Conferencing (XCON) Media Models</title>

        <author initials='E' surname='Burger' fullname='Eric Burger'>
            <organization />
        </author>

        <date month='February' day='10' year='2004' />

        <abstract><t>This document describes various models for endpoint control of media policy for centralized conferencing services. The models include detailed mixer control, as in H.248, individual end-point negotiation, and participant roles, as in MSCML.</t></abstract>

        </front>

        <seriesInfo name='Internet-Draft' value='draft--burger-xcon-mmodels-00' />
        <format type='TXT'
                target='http://www.ietf.org/internet-drafts/draft--burger-xcon-mmodels-00.txt' />
        </reference>
  recorded_at: Thu, 29 Oct 2020 20:50:48 GMT
recorded_with: VCR 6.0.0
