---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml6/reference.IEEE.730_2014.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 24 Jul 2015 07:36:53 GMT
      Etag:
      - '"39a7ffd-324-51b9a11512f40"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <reference anchor='IEEE.730_2014' target='http://ieeexplore.ieee.org/servlet/opac?punumber=6835309'>
         <front>
          <title>IEEE Standard for Software Quality Assurance Processes</title>
          <author>
           <organization>IEEE</organization>
          </author>
          <date day='16' month='June' year='2014' />
          <abstract><t>Requirements for initiating, planning, controlling, and executing the Software Quality Assurance processes of a software development or maintenance project are established in this standard. This standard is harmonized with the software life cycle process of ISO/IEC/IEEE 12207:2008 and the information content requirements of ISO/IEC/IEEE 15289:2011.</t>
           </abstract>
         </front>
         <seriesInfo name='IEEE' value='730-2014' />
         <seriesInfo name='DOI' value='10.1109/ieeestd.2014.6835311' />
        </reference>
  recorded_at: Tue, 10 Nov 2020 21:59:11 GMT
recorded_with: VCR 6.0.0
