---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml4/reference.W3C.CR-CDR-20070718.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 17 Jul 2007 22:00:00 GMT
      Etag:
      - '"39d1946-339-4357cb2deb800"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='UTF-8'?>

        <reference anchor='W3C.CR-CDR-20070718'
                   target='http://www.w3.org/TR/2007/CR-CDR-20070718'>
        <front>
        <title>Compound Document by Reference Framework 1.0</title>

        <author initials='J.' surname='Quint' fullname='Julien Quint'>
            <organization />
        </author>

        <author initials='D.' surname='Appelquist' fullname='Daniel Appelquist'>
            <organization />
        </author>

        <author initials='L.' surname='Pajunen' fullname='Lasse Pajunen'>
            <organization />
        </author>

        <author initials='T.' surname='Mehrvarz' fullname='Timur Mehrvarz'>
            <organization />
        </author>

        <date month='July' day='18' year='2007' />
        </front>

        <seriesInfo name='World Wide Web Consortium CR' value='CR-CDR-20070718' />
        <format type='HTML' target='http://www.w3.org/TR/2007/CR-CDR-20070718' />
        </reference>
  recorded_at: Thu, 26 Nov 2020 20:57:41 GMT
recorded_with: VCR 6.0.0
