---
http_interactions:
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml4/reference.W3C.CR-rdf-schema.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>\n<!DOCTYPE html PUBLIC
        \"-//W3C//DTD XHTML 1.0 Strict//EN\"\n  \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\">\n<head>\n<title>Object
        not found!</title>\n<link rev=\"made\" href=\"mailto:webmaster@tools.ietf.org\"
        />\n<style type=\"text/css\"><!--/*--><![CDATA[/*><!--*/ \n    body { color:
        #000000; background-color: #FFFFFF; }\n    a:link { color: #0000CC; }\n    p,
        address {margin-left: 3em;}\n    span {font-size: smaller;}\n/*]]>*/--></style>\n</head>\n\n<body>\n<h1>Object
        not found!</h1>\n<p>\n\n\n    The requested URL was not found on this server.\n\n
        \ \n\n    If you entered the URL manually please check your\n    spelling
        and try again.\n\n  \n\n</p>\n<p>\nIf you think this is a server error, please
        contact\nthe <a href=\"mailto:webmaster@tools.ietf.org\">webmaster</a>.\n\n</p>\n\n<h2>Error
        404</h2>\n<address>\n  <a href=\"/\">xml2rfc.tools.ietf.org</a><br />\n  \n
        \ <span>Fri Nov  8 08:30:16 2019<br />\n  Apache/2.2.22 (Debian)</span>\n</address>\n</body>\n</html>\n\n"
  recorded_at: Fri, 08 Nov 2019 16:30:16 GMT
- request:
    method: get
    uri: https://xml2rfc.tools.ietf.org/public/rfc/bibxml2/reference.W3C.CR-rdf-schema.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 29 Jul 2013 17:31:15 GMT
      Etag:
      - '"39c37ad-265-4e2a9dbfd3ec0"'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |+
        <?xml version='1.0' encoding='UTF-8'?>

        <reference anchor="W3C.CR-rdf-schema" target="http://www.w3.org/TR/2000/CR-rdf-schema-20000327">
          <front>
            <title>Resource Description Framework (RDF) Schema Specification 1.0</title>
            <author initials="D." surname="Brickley" fullname="Dan Brickley">
              <organization>University of Bristol</organization>
            </author>
            <author initials="R.V." surname="Guha" fullname="R.V. Guha">
              <organization>Epinions</organization>
            </author>
            <date day="27" month="March" year="2000"/>
          </front>
          <seriesInfo name="W3C" value="CR-rdf-schema"/>
        </reference>

  recorded_at: Fri, 08 Nov 2019 16:30:19 GMT
recorded_with: VCR 5.0.0
